@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>EasyGo</h1>
        <p class="lead">EasyGo is your best car rental booking system in Melbourne!</p>
        @if (!User.Identity.IsAuthenticated)
        {
            <p><a href="/Account/Register" class="btn btn-primary btn-lg">Register &raquo;</a></p>
            <p><a href="/Account/Login" class="btn btn-primary btn-lg">Login &raquo;</a></p>
        }

    </div>

    <div class="row">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="col-md-6">
                <h2>Make a booking</h2>
                <p>
                    You can choose your prefered car from our system.
                    EasyGo wish you can have a great journey!
                </p>
                <p><a class="btn btn-default" href="/bookings/BookCar">Start booking &raquo;</a></p>
            </div>
            <div class="col-md-6">
                <h2>My booking</h2>
                <p>You can check your booking details here.</p>
                <p><a class="btn btn-default" href="/Bookings">More information &raquo;</a></p>
            </div>
            if (!User.IsInRole("Administrator"))
            {
                <div class="col-md-4">
                <h2>Where to collect your car?</h2>
                <p>Find out our company's address on the map.</p>
                <p><a class="btn btn-default" href="/home/map">Learn more &raquo;</a></p>
                </div>
            }
        }

    </div>